/* General Styling */


h2 {
    text-align: center;
    color:darkgreen;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color:darkgreen;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

/* Button Styling */
button {
    background-color: deeppink;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #c82333;
    }

form {
    display: inline-block;
    margin: 0;
}

/* No Claims Message */
p {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 10px;
    }

    h2 {
        font-size: 1.8rem;
    }
}
